$font-primary: "Helvetica Neue", Oswald, Helvetica,Arial,sans-serif;
$font-secondary: "Montserrat", Helvetica,Arial,sans-serif;
$white: #fff;
$black: #000;
$color1: darken($white, 10%);
$color2: darken($white, 30%);
$color3: darken($white, 50%);
$bgcolor1: lighten($black, 10%);
$bgcolor2: lighten($black, 20%);
$bgcolor3: lighten($black, 30%);
$linkcolor: #9669FE;
// $color1: #1abc9c;
// $color2: #27ae60;
// $color3: #27ae60;
// $bgcolor1: #34495e;
// $bgcolor2: #95a5a6;
// $bgcolor3: #dddddd;
