body {
    font: 150% $font-primary;
    color: $color1;
    background: $bgcolor1;
    line-height: 1.8em;
}
section {
    padding: 17px 20px;
    h2  {
        font: 120% $font-primary;
    }
    ul li {
        color: $color2;
        font: 100% $font-secondary;
    }
}
