.wf-loading {
    visibility: hidden;
}
#demo-canvas {
    max-width: 100%;
    min-height: 500px;
}
#logopp {
    transition: all 0.67s;
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    z-index: 11;
    #rect3206 {
        fill: none;
    }
    text {
        opacity: 0;
    }
    &.loading {
        #rect3206, #g3990-2{
            opacity: 0;
        }
    }
    &.loaded {
        transform: scale(0.33);
        transform-origin: 0 0;
        top: 0.67em;
        left: 1em;
        path {
            fill: grey;
            stroke: grey;
        }
        #rect3206, #g3990-2{
            opacity: 1;
        }
        :hover {
            text {
                opacity: 1;
            }
        }
    }
}
#loader {
    opacity: 0.85;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.67s ease;
}
.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
.pageload-overlay.show {
    visibility: visible;
}
.pageload-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.pageload-overlay .overlay path {
    fill: #fff;
}
@-webkit-keyframes moveRight {
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes moveRight {
    to {
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes moveLeft {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes moveLeft {
    to {
        transform: rotate(360deg);
    }
}
.left.brackets {
    transform-origin: 150px 180px;
}
.right.brackets {
    transform-origin: 350px 180px;
}
.loading .right.brackets {
	-webkit-animation: moveLeft 1.5s linear infinite normal;
    animation: moveLeft 1.5s linear infinite normal;
}
.loading .left.brackets {
	-webkit-animation: moveRight 1.5s linear infinite normal;
    animation: moveRight 1.5s linear infinite normal;
}
